<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}">Pre-workshop survey</a> </td> </tr>
      <tr> <td>August 22 (Morning)</td>  <td><a href="https://datacarpentry.org/spreadsheets-socialsci/">Spreadsheets</a> and <a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine</a></td> </tr>
      <tr> <td>August 22 (Afternoon)</td>  <td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td> </tr>
      <tr> <td>August 23 (Morning)</td>  <td><a href="https://datacarpentry.org/r-socialsci/">Intro to R</a></td> </tr>
      <tr> <td>August 23 (Afternoon)</td>  <td><a href="https://datacarpentry.org/r-socialsci/">R visualization</a> and <a href="https://erwinlares.github.io/r-socialsci/06-rmd/index.html">Rmd</a></td></tr>
      <tr> <td>END</td> <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td></tr>
    </table>
  </div>
</div>
